.navList {
  display: flex;
  gap: 20px;
  font-size: 30px;
}

.link {
  color: blue;
  text-decoration: none;
  transition: color 0.3s;
}

.link:hover,
.link:focus {
  color: rgb(22, 3, 107);
}

.active {
  color: brown;
  font-weight: bold;
}
